#list-body {
  padding: 5% 0;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

#list-main {
  border: solid black 2px;
  text-align: center;
  width: 95%;
  margin: auto;
}

#list-top {
  border: solid rgba(182, 182, 182, 0.733) 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#list-top-title {
  font-size: 1.3rem;
}

#list-items {
  border: solid rgba(182, 182, 182, 0.733) 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.item-div {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  border: groove 1px grey;
}

.item-div.dragging {
  opacity: 0.5;
}

.button-drag {
  cursor: move;
}

.task-description {
  font-size: 1.1em;
  padding-left: 5px;
  font-weight: 300;
}

#list-placeholder {
  border: solid rgba(182, 182, 182, 0.733) 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#list-placeholder-input {
  border: none;
  font-size: 1.2rem;
  width: 70%;
}

#bottom-button {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

#list-bottom {
  padding: 15px 0;
  background-color: rgba(182, 182, 182, 0.733);
}

.start-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
